<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StudentMs</title>
    <link rel="stylesheet" href="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid text-center">
    <h1>Manage Students</h1>


    <div th:if="${message}" class="alert alert alert-success text-center">
        [[${message}]]
    </div>

    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Class</th>
                <th>Manage</th>
            </tr>
            </thead>

            <th:block th:each="student : ${listStudents}">
                <tr>
                    <td>[[${student.id}]]</td>
                    <td>[[${student.name}]]</td>
                    <td>[[${student.surname}]]</td>
                    <td>[[${student.clazz}]]</td>
                    <td>
                        <button class="btn btn-success">
                            <a style="font-size: small; color: white" class="h4 mr-3"
                               th:href="@{'/students/edit/' +${student.id}}">Edit</a>
                        </button>
                        <button class="btn btn-danger m-0">
                            <a style="font-size: small; color: white" class="h4 mr-3"
                               th:href="@{'/students/delete/'+${student.id}}">Delete</a>
                        </button>

                    </td>
                </tr>
            </th:block>
        </table>

        <div class="btn btn-success ">
            <a style="font-size:medium ; color: white" class="h3" th:href="@{/students/new}">[[${pageTitle}]]</a>
        </div>

    </div>

</div>

</body>
</html>